<?php
$this->htmlElement('body')->appendAttribute('class', 'page page-' . $page->slug());
$this->pageTitle($page->title(), 2);
$showPagePagination = $this->siteSetting('show_page_pagination', true);
$this->headLink()->appendStylesheet($this->assetUrl('css/page-blocks.css', 'Omeka'));
$this->headScript()->prependFile($this->assetUrl('js/getDescription.js'));
?>

<?php
$nav = $site->publicNav();
$container = $nav->getContainer();
$activePage = $nav->findActive($container);
if ($activePage):
?>
    <?php if ($activePage['depth'] !== 0): ?>
    <nav class="breadcrumbs"><?php echo $nav->breadcrumbs(); ?></nav>
    <?php endif; ?>
<?php endif; ?>

<?php $this->trigger('view.show.before'); ?>
<div class="blocks">
    <?php if ($activePage): ?>
        <?php if ($this->displayNavigation && $activePage['page']->hasPages()): ?>
        <nav class="sub-menu"><?php echo $nav->menu()->renderSubMenu(); ?></nav>
        <?php endif; ?>
    <?php endif; ?>

    <?php echo $this->content; ?>
</div>
<?php $this->trigger('view.show.after'); ?>
<?php if ($showPagePagination): ?>
<?php echo $this->sitePagePagination(); ?>
<?php endif; ?>
