<?php
$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$embedMedia = $this->siteSetting('item_media_embed', false);
?>


<?php foreach($attachments as $attachment): ?>
<?php
$item = $attachment->item();
$itemMedia = $item->media();
?>
<?php if ($embedMedia && $itemMedia): ?>
    <div class="media-embeds">
    <?php foreach ($itemMedia as $media):
        echo $media->render();
    endforeach;
    ?>
    </div>
<?php endif; ?>
<div class="properties">
<?php echo $item->displayValues(); ?>
<?php if ($itemSets = $item->itemSets()): ?>
<div class="property">
    <?php $itemSets = $item->itemSets(); ?>
    <h4 class="subtitle"><?php echo $translate('Item sets'); ?></h4>
    <div class="values">
        <?php foreach ($itemSets as $itemSet): ?>
        <div class="value"><a href="<?php echo $escape($itemSet->url()); ?>"><?php echo $itemSet->displayTitle(); ?></a></div>
        <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>
<?php if (!$embedMedia && $itemMedia): ?>
<div class="media-list property">
    <h4><?php echo $translate('Media'); ?></h4>
    <div class="values">
    <?php foreach ($itemMedia as $media): ?>
        <?php echo $media->linkPretty(); ?>
    <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>
</div>

<?php
$page = $this->params()->fromQuery('page', 1);
$property = $this->params()->fromQuery('property');
$subjectValues = $item->displaySubjectValues($page, 25, $property);
?>
<?php if ($subjectValues): ?>
<div id="item-linked">
    <h3><?php echo $translate('Linked resources'); ?></h3>
    <?php echo $subjectValues; ?>
</div>
<?php endif; ?>
<?php endforeach; ?>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(document).trigger('enhance.tablesaw');        
    });
</script>
