@import "../mixins";
@import "../variables";
@import "../base";
@import "../../../../../modules/Scripto/asset/sass/shared";
@import "../../../../../modules/Scripto/asset/sass/layout";
@import "../../../../../modules/Scripto/asset/sass/mobile";
@import "../layout";

body {
    background-image: url('../../../../../themes/papers/asset/img/bg.jpg');
}

hr {
	border: 1px solid #000;
	margin: $spacing-unit 0;
}

table.tablesaw {
	border-top: 3px solid #000;
}

button:disabled,
button.inactive,
.button:disabled,
.button.inactive,
input[type="submit"]:disabled,
input[type="submit"].inactive {
    border-top-width: 3px;
}

select {
    background: $grey-color-light url(../../../../../application/asset/img/select-arrow.svg) no-repeat right (.25 * $spacing-unit) center;
    background-size: .25 * $spacing-unit;
}

button,
.button,
input[type="submit"] {
    border-radius: 0 !important;
    font-size: $base-font-size;

    &:not(:disabled):hover {
	    	background-color: $yellow-color;
    }


	&.inactive,
	&:disabled {
		border-color: #000;
		color: #000;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}
	}
}

a.button {
	color: #000;
	text-decoration: none;
}

textarea,
input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]) {
	border-color: #000;
}

th.title {
    width: 50%;
}

.resource-media {
    height: 2 * $spacing-unit;
    width: 2 * $spacing-unit;
    margin-right: (.5 * $spacing-unit);
}

.resource-title {
    flex: 2;
}

#back-to-top {
	border-radius: 0;
	background-color: $light-blue-color;
	border: 1px solid #000;
	border-top-width: 3px;

	&:hover {
		background-color: $yellow-color;
	}

	a {
		color: #000;
		text-decoration: none;
	}
}

ul.messages .success {
	background-color: transparentize($light-blue-color, .7);
	color: $blue-color;
	border-color: $blue-color;
}

.trigger {
    display: flex;
    width: 100%;
    justify-content: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -9999px;
        right: -9999px;
        background-color: rgba(206,206,206,0.5);
        z-index: -1;
    }
}

.trigger .site-nav {
    width: auto;
    order: 2;

    &:before {
        content: none;
    }
}

.trigger .site-nav > .page-link:first-child {
    display: none;
}

.trigger .project-nav {
    order: 1;
}

.trigger .project-nav li {
    margin: 0 $spacing-unit 0 0;
}

.site-header {
    border: 0;
}

.site-title {
    font-size: 1.625 * $base-font-size;
    font-weight: 400;

    &:before,
    &:after {
        width: 0;
        margin: 0;
    }

    &:visited {
        color: #000;
    }
}

.project-nav.wrapper {
    padding: (.5 * $spacing-unit) $spacing-unit;
    border-top: 0;
    border-bottom: 1px solid $grey-color;

     & > * {
        padding: 0;
     }
}

.project-nav {
	border-top: 0;
}

.project-nav h2 {
    display: none;
}

#scripto-search {
    padding: (.5 * $spacing-unit) $spacing-unit;
    border-top: 0;
    border-bottom: 1px solid $grey-color;
}

.user.open .user-toggle::before,
.user-menu,
.sorting-toggle.open > a::after,
.filtering-toggle.open > a::after,
.sorting-toggle.open > form,
.filtering-toggle.open > form {
    border-radius: 0;
}

.user-menu {
    top: 1.75 * $spacing-unit;
    text-align: left;
    margin-top: -1px;
}

.post-title {
    font-size: 2 * $base-font-size;
    text-align: center;
}

.post-subtitle {
	font-size: $base-font-size;
	margin-top: (-.25 * $spacing-unit);
	text-align: center;
}

.resource-content .project.resource-metadata,
.resource-metadata + .resource-list {
	margin: $spacing-unit auto;
}

.resource-list {
    max-width: 1200px;
    margin: 0 auto;
}

.resource-content .resource-metadata,
.resource-content .resource-list {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.resource-content .resource-metadata {
    order: 2;
}

.resource-metadata .property h4 {
    font-size: $base-font-size;
    font-variant: small-caps;
    width: 30%;
}

.resource-metadata .property {
    border-bottom: 1px solid $grey-color-dark;
    margin: 0;
    padding: (.5 * $spacing-unit) 0;
    display: flex;
}

.resource-metadata .property .values {
    width: 70%;
}

.post-content .resource-tile h4 {
    font-size: 1.125 * $base-font-size;
}

.resource-metadata + .resource-list {
	padding-left: 0;
}

.resource-tile > div {
    font-size: $base-font-size;
}

.media-head {
	border-color: #000;
}

.media-tabs > .inactive {
    font-weight: normal;
}

.layout-label {
	margin-right: .5 * $spacing-unit;
}

.layout button:not(:disabled):hover {
	border: 1px solid #000;
	border-top-width: 3px;
}

.status-field {
    margin-top: 0;
}

.wikitext-flex {
	align-content: flex-start;
}

.panzoom-container {
    background-color: rgba(255,255,255,.3);
    border: 1px solid #000;
}

.change-summary {
	margin-top: (-1.75 * $spacing-unit);
}

.wikitext-editor-buttons {
	background-color: $light-blue-color;
	border: 1px solid #000;
	border-top-width: 3px;

	.button,
	button {
		color: #000;

		&:hover {
			box-shadow: 0 0 0 1px #000 inset;
		}
	}
}

.wikitext-flex .textarea-flex textarea {
	border-color: #000;
}

.featherlight-content .layout {
	margin-top: .5 * $spacing-unit;
}

#compare-table td {
    border-bottom: 1px solid #000;
}

#compare-table [colspan="2"]:first-child,
#compare-table td.diff-context:nth-child(2) {
    border-right: 1px solid #000;
}

#compare-table .diff-deletedline {
    background-color: #fccfcc66;

    div:before {
        background-color: transparent;
    }
}

#compare-table .diff-addedline {
    background-color: #cdffcd66;

    div:before {
        background-color: transparent;
    }
}